<!DOCTYPE html>
<html>
<head>
	<title>QuotingDojo</title>
</head>
<body>
<h1>Welcome to QuotingDojo</h1>
<form action="/quotes" method="post">
	<p>Your Name: <input type="text" name="name"></p>
	<p>Your quote: <textarea name="quote"></textarea></p>
	<button type="submit">Add my quote!</button>
	<button><a href="/quotes">Skip to quotes!</a></button>
</form>
</body>
</html>